@use "../abstracts/" as *;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap") layer(CDNFont);

@layer Typography {
  html {
    font-size: 62.5%;
    // @include mobile {
    //   $baseSize: 62.5% / 2;
    //   font-size: $baseSize;
    //   // font-size: 31.25%;
    // }
  }

  body {
    font-size: 1rem;
    font-family: "Noto Sans KR", sans-serif;
  }
}
