$yellow: #fac300;
$light-yellow: #fff387;
$orange: #f69740;
$skyblue: #38c3ef;
$green: #88d948;
$blue: #6892d0;
$grayb4: #b4b4b4;
$grayfa: #fafafa;
$graye2: #e2e2e2;
$graye1: #e1e1e1;
$grayf3: #f3f3f3;
$white: #ffffff;
$gray99: #999999;
$graye0: #e0e0e0;
$gray33: #333333;
$gray3f: #3f3f3f;
$gray66: #666666;
$graycc: #cccccc;

$black: #000000;

// $imgurl: "../images/";
$imgurl: "../imagesmin/";

// 반응형 가준
$mobileSize: 1000px;
$tabletSize: 1200px;
$mobilePaddingX: 30; // 모바일 좌우여백

// 폰트
$eng: "Montserrat", sans-serif;
